.movie-title{
    font-size : 1.5rem;
    font-weight: bold;
}
.movie-entry {
    width : 100% ;
    border-bottom: 1px solid lightgray;    
    margin-bottom : 0px;
}
.rank-value{
    font-weight: bold;
    color : green ;
}
.score-value{
    color : green ;
}


/* feather icons */ 
.fi {
    color : black;
    width : 1rem;
}
.tn{
    width : 80px;
    float : left;
    margin-right : 1rem;
    margin-bottom : 1rem;
}
.clear{
    clear:both;
}
.clickable{
    cursor: pointer;
}

.jc-icon {
    width : 1rem;
    margin-left: .5rem;
}
.users-centering-container{
    text-align: center;
    width: max-content;
    margin: 0 auto;
}
.jc-icon-red {
    stroke : red;
}
.jc-icon-blue {
    stroke : blue;
}
.jc-icon-green {
    stroke : green;
}

img.user-banner{
    width : 35px;
    margin-right : 10px;
}

#users{
    padding : 20px;
    background-color: black;
    color : white;    
}
.user-div{
    float : left ;
    width : 100px;
    font-size: small;
}
.user-icon {
    width : 2rem;
    height : 2rem;
    /* background-image: url(../i/feather/user.svg); */ 
    display: inline-block;
    background-size: contain;    
    font-size : 20px;
    font-weight : bold ;
}

.selected-user > .user-icon {
    border-radius : 50% ;
}

.movie-score {
    
    float : left ;
    min-width : 50px ;
    height : min-content ;
    background-color : black ;
    padding : 5px ;
    margin-right: 1rem;
    border-radius: 6px;
}
.vote-user-container {
    width : 20px;
    height : 50px;
    float : left;
    margin-right : 1px;
    margin-left : 1px;
    position : relative ;
}
.vote-user-value {
    position : absolute ;
    width : 100%;
    height : 10%;
    bottom: 0px;
    pointer-events: none;
}

.user-info {
    position : fixed ;
    top: 20px;
    right : 20px;
    background-color: #cf0 ;
    padding : 10px;
}


.timings {
    font-size : 10px;
    color : grey;
}